<div class="col-md-offset-1 col-md-2 result-answer-label">
  <img src="{{ request.static_url("oscad_theme_linuxtag:static/img/linuxtag/" + image) + ".png" }}" />
</div>
<div class="col-md-8">
  <p>
    {{ text }}
 </p>
</div>
